body {
    background-color: #cccccc;
  }

.first1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: px 0;
}

.center {
  position: static;

  }

.centerleft {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  }

  .centerright {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    }

.card {
    border-radius: 25px;
    background:#8a8fa3;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

  .footer {
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: 2.5rem;
    left : 200px;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-top: calc(var(--bs-gutter-y) * -1);
  }
  
  .title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    }

    .box {
      display: flex;
      align-items:center;
   }

   .left  {
    float: right;    
     margin: 0 0 0 25px;
    }

    .px  {
      float: both;    
      margin: 0 0 0 10px;
      }

      .py  {
        margin-bottom: 10px;

        }

        .button1s 	{
          color: transparent; 
          background-color: transparent; 
          border-color: transparent; 
          cursor: default;
        }