@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
:root {
    --wf-main0: #E9C3D6;
    --wf-main1: #E3C8D9;
    --wf-main2: #D6D0DF;
    --wf-main3: #C3C5D8;
    --wf-main4: #9BA7C2;
    --wf-main5: #566A79;
    --wf-main6: #506E7C;

    --main: #161618;
    --box: #29292c;
    --text: #ffffff;
}

[data-theme="dark"] {
    --main: #ffffff;
    --box: #c9c9c9;
    --text: #000000;
}

.main {
    height: 130px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--box);
    overflow: hidden;
    flex: 0 0 auto;
    flex-direction: row;
    box-sizing: border-box;
}

.main .main-logo {
    display: flex;
    height: 100px;
    width: 100px;
}

.main .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
}

.main .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    text-align: right;
}

.main-body {
    width: 100%;
    margin-top: 150px;
    top: 0;
    left: 0;
}

.main a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text)
}

.main a:hover {
    color: #f1f1f1;
}

body {
    display: block;
    margin: 0px;
    min-height: 80vh;
    max-height: 80vh;
    background-color: var(--main);
    color: var(--text);
}

body #main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 300px;
    min-height: 100vh;
    padding: 2rem;
}

body .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
}

body .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}

.card {
    flex:auto;
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
}

.row { 
    display: flex;
    flex-direction: row;
}

.stretch {
    height: 85vh;
}

.semi-stretch {
    height: 10vh;
}

.center {
    height: 100%;
    vertical-align: middle;
}

.no-ul ul {
    list-style-type: none;
}

.title {
    font-family: "Monospace", "Lucida Console";
    font-size: 30px;
}

li {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.m {
    margin-top: 15px;
}

.n {
    margin-left: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.ref {
padding: 35px 0;
text-align: center;
}

.lref {
padding: 10px 0;
text-align: right;
}

#hover-main:hover {
    font-weight: bold;
}

.hello-world {
    text-align:center;  
    padding-top: 15%;
    font-size: 100px;
}

.about-world {
    text-align:left;  
    padding-top: 15%;
    font-size: 30px;
}

.hobby-world {
    text-align:center;  
    font-size: 30px;
}

.loc-1 {
    position: absolute;
    left: 70%;
    bottom: 55%;
}

.loc-2 {
    position: absolute;
    left: 80%;
    bottom: 45%;
}

.loc-3 {
    position: absolute;
    left: 70%;
    bottom: 35%;
}

ul {
    list-style-type: none;
}

.boxo {
    text-align:left;
    margin-left: 40%;
    text-align:left;
    width: auto;
}

@media (max-width: 1000px) {
    .boxo {
        text-align:left;
        margin-left: 30%;
        text-align:left;
        width: auto;
    }
  }

  @media (max-width: 500px) {
    .boxo {
        text-align:left;
        margin-left: 20%;
        text-align:left;
        width: auto;
    }
  }